---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1 class="page-title">About Common 5e</h1>
    <section class="rule-card rule-grid">
      <p>
        The web site is to serve as a mobile Game Master screen for players
        running the game. It is also great to quickly review rules as a player
        before or during a session.
      </p>
      <p>
        Whether you're an experienced player, someone looking for a source to
        help a friend learn the game quickly, or a player looking to have a good
        understanding of the rules of 5e, I hope you enjoy using this web
        document.
      </p>
    </section>
    <br />
    <section class="rule-card rule-grid">
      <p>
        The content of this web site all started as my personal documentation of
        the rules of 5th edition.
      </p>
      <p>
        It was years ago I was playing as a druid and noticed we were getting
        harsh rulings as it seemed "dim light" did not exist. Areas that were
        described as "dim light" were ruled as "darkness". After the session was
        over, I reviewed the rule book and I found out two things:
      </p>
      <p>
        (1) My initial thoughts were correct.<br />
         (2) The rules were arduous to read through and it made sense that the
        Game Master didn't want to understand the rules as they had probably
        skipped the entire section.
      </p>
      <p>
        I was already tired going to the back of the "Dungeon Master's Guide" to
        review rules as I ran my own game. So I began compiling rules that
        should be organized together in a Word document.
      </p>
      <p>
        Running my own sessions kept becoming easier as the document grew. I
        began to rephrase rules to be more concise and clear.
      </p>
    </section>
    <h2 class="page-title">The beginning of Common 5e</h2>
    <section class="rule-card rule-grid">
      <p>
        At the initial announcement of One D&D I was excited. However as events
        and playtest material have come, I have lost interest in a system that
        doesn't have the spirit of 5e.
      </p>
      <p>
        What has made 5e so enjoyable is that it has minimal overhead for a
        fairly fleshed out tabletop game system. Of course things are not
        consistent through all the rules of 5e, and some do have more overhead
        than they should.
      </p>
      <p>
        So after 5e's source reference document became creative commons, I began
        tweaking 5e rules to follow that spirit: to have less overhead and let
        the players focus on having fun.
      </p>
    </section>
  </main>
</Layout>
<style>
  p {
    margin: 0;
  }
  section {
    padding: 1rem;
    /* background: darkgreen; */
    /* width: calc(100% - 2rem); */
  }
</style>
