---
import Layout from "../layouts/Layout.astro";
import RuleBlock from "../components/RuleBlock.astro";
---

<Layout>
  <main>
    <h1 class="page-title">Adventuring Actions</h1>
    <ul role="list" class="rule-grid">
      <section class="rule-card">
        <RuleBlock
          name="Draw a Map"
          description="Any player at the table can draw a map that records the group’s progress and help the characters get back on course if they get lost. No ability check is required."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Navigate"
          description="The character can try to prevent the group from becoming lost, making a Wisdom (Survival) check when the Game Master calls for it."
        />
        <p>If no map was drawn, the players will have to succeed a Navigate action to see if they remember the way.</p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Track"
          description="A character can follow the tracks of another creature, making a Wisdom (Survival) check when the Game Master calls for it."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Forage"
          description="The character can keep an eye out for ready sources of food and water, making a Wisdom (Survival) check when the GM calls for it."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Influence"
          description="The character makes a request or demand. The player describes their character’s behavior or roleplays how the character does this."
        />
        <p>Influence can be used only on creatures controlled by the Game Master, and it can’t force a creature to do something.</p> 
        <p>The Game Master will determine success, failure, or whether an ability check is required (Animal handling, Deception, Intimidation, or Persuasion). </p>
        <p>The default DC is the greater value between [15] or the NPC’s Intelligence score. Advantage or Disadvantage may be applied based on the NPC’s disposition or attitude with the characters.</p>

      </section>
      <section class="rule-card">
        <RuleBlock
          name="Amush"
          description="A group attempting to ambush are required to have readied actions and roll Stealth checks." 
        />
        <p>The ambushing party must succeed on a group check against the highest Passive Wisdom (10 + modifier) of the group they are trying to ambush.</p>
        <p>On failure combat starts as normal. On success the readied actions go off in the sequence they were scheduled to be triggered.</p>
        <p>The ambushing party starts combat with their reactions spent.</p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Surprise"
          description="For when when a creature, such as an ooze, ghost, or plant, is laying in wait in an enclosed area. The creature must not be within direct line of sight of the entrance to the enclosed area to be considered laying in wait."
        />
        <p>A patrolling guard in armor would not be "laying in wait" as their clinking armor makes noise, but a stationed guard at the ready could be.</p>
        <p>Any character entering an enclosed area rolls a perception check to compare with the Passive Stealth (10 + proficiency + dex modifier) of each creature "laying in wait" in the room.</p>
        <p>Characters that notice any threat are not surprised at the start of the encounter, while characters that do not notice a single threat are surprised.</p>
      </section>
    </ul>
  </main>
</Layout>
