---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1 class="page-title">Change Log</h1>
    <ul role="list" class="rule-grid">
      <section class="rule-card">
        <h2 class="rule-name">Future Content</h2>
        <p>Finishing items to purchase.</p>
        <p>
          Adding in Magic Items (with homebrew content to be easier for GMs).
        </p>
        <p>Rules for running a chase and rules for traps.</p>
        <p>
          Character Creation (with more descriptions of what Ability Checks
          are). Along with homebrewed ancestries that play with the core ruleset
          better.
        </p>
        <p>Add in rules for encumberance, adventuring realism.</p>
      </section>
      <section class="rule-card">
        <h2 class="rule-name">Removed Rules</h2>
        <p>
          Currently rules for inspiration are not included in this document. All
          too frequently I find players forgetting they have it as 5e has robust
          features, spells, and abilities for players to utilize. This does not
          stop any Game Master from using inspiration at their table.
        </p>
        <p>
          Removed getting "some" Hit Dice back per Long Rest. This is usually
          hand-waved or disproportionally affects characters who would fight in
          the front lines. I feel it's important that Hit Dice recovery and
          Spell Slot recovery are treated the same.
        </p>
        <p>
          Some rule overhead while using a mount, effectively the same, more
          consistent, and easier to remember.
        </p>
      </section>
      <section class="rule-card">
        <h2 class="rule-name">Replaced Rules</h2>
        <p>Monk's Hit Dice: replaced with a d10</p>
        <p>
          Overall many rules have been re-written to be more concise and clear.
          Rules are organized with relevant rules for ease of reading.
        </p>
        <p>
          High Jump has been changed to be more similar to long jump and easier
          to remember, effectively the same.
        </p>
        <p>
          Exhaustion, 5e PHB had too much overhead replaced with a simpler and
          easier to remember set of penalties.›
        </p>
        <p>
          Petrified condition now uses the rules for objects to make both easier
          to remember, effectively the same.
        </p>
        <p>Swimming rules are simplified to be easier to run at the table.</p>
        <p>
          Underwater Combat is now Water Combat, now specifies piercing damage
          for melee weapons instead of giving a list of melee weapons that deal
          piercing damage.
        </p>
        <p>
          Updated material spell components to be more in line with how the game
          is usually played. Cost-free materials are now always a spellcasting
          focus.
        </p>
        <p>
          There are now more detailed descriptions on what a spellcasting focus
          can be. A caster disarmed of their spellcasting focus would be limited
          to spells without material components.
        </p>
        <p>
          Fall Damage has been modified to be easier to run at the table and
          more consistent with concentration saves. Now, both involve halving a
          value and the number 10 is a threshold for decision making.
        </p>
        <p>
          Versatile weapon property no longer replaces the damage dice, now adds
          a +2 damage bonus while two-handed.
        </p>
        <p>
          Wearing armor without Armor Proficiency is now more punishing, simply
          to be easier to adjudicate at the table. Players never wear armor they
          aren't proficient with anyways.
        </p>
        <p>
          Bonus action spells have a clearer explanation for why they can't be
          cast with other leveled spells.
        </p>
      </section>
      <section class="rule-card">
        <h2 class="rule-name">Added Rules</h2>
        <p>
          Critical success and failure for Saving Throws: this has always made
          sense to me as a Game Master. It's also more consistent with Death
          Saving Throws.
        </p>
        <p>
          Movement rule "Moving Through Hazards": to make it more clear when to
          call for a skill check.
        </p>
        <p>
          Added "Ambush" rules to give a more immersive option besides Surprise.
          The rules for Surprise now have clarification on when it should be
          used.
        </p>
        <p>Added clarity for jumping as movement speed expires.</p>
        <p>
          Defined a minimum and maximum round time for Game Masters to choose
          from.
        </p>
        <p>
          Homebrew for attacking while unseen, the attacker has the option to
          not use Advantage to potentially stay unsee.
        </p>
        <p>
          Added a framework for what merchants sell what items to make the item
          catelogue more organized and comprehensive.
        </p>
        <!-- <p>
          Homebrewed Dying rules that have less overhead, have a similar risk of
          death, and give the player more to do.
        </p> -->
      </section>
    </ul>
  </main>
</Layout>
<style>
  h2 {
    padding: 0.5rem;
    margin: 0.5rem;
  }
</style>
