---
import Layout from "../layouts/Layout.astro";
import RuleBlock from "../components/RuleBlock.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main>
    <h1 class="page-title">Combat Actions</h1>
    <ul class="rule-grid">
      <section class="rule-card">
        <RuleBlock
          name="Attack"
          description="Pick a target within the attack’s range, roll to hit against the target's Armor Class, and on success roll damage. If you have a free hand, with one of your attacks you can attempt to grapple a creature within reach instead."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Dash"
          description="You gain extra movement for the rest of the turn equal to your movement speed."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Disarm"
          description="A creature, using the attack action, can use a melee attack to target a weapon or item within a target’s grasp. "
        />
        <p>
          The attacker makes a disarming attack roll against the target’s AC.
          This attack deals 0 damage and has no carry over effects. If the
          attack is successful the defender must make a Strength Saving Throw.
          The DC is equal to the attack roll and if they fail the item is
          dropped.
        </p>
        <p>
          The attacker has disadvantage on its attack roll if the target is
          holding the item with two or more hands.
        </p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Disengage"
          description="Your movement doesn’t provoke opportunity attacks for the rest of the turn."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Dodge"
          description="Until the start of your next turn, if you can see the attacker, attack rolls made against you have Disadvantage and you make Dexterity Saving Throws with Advantage."
        />
        <p>
          You lose this benefit if you are incapacitated or if your speed drops
          to 0.
        </p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Escape Contest"
          description="While grappled, you can spend an action to initiate a Athletics or Acrobatics contest. You escape on success."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Help"
          description="When you take the Help action, you can do one of two things."
        />
        <p>
          You can help a non-hostile creature within 5 feet of you complete a
          task, giving them Advantage on their next ability check until the
          start of your next turn.
        </p>
        <p>
          You can distract a hostile creature within 5 feet of you, giving the
          next attack roll Advantage against the hostile creature until the
          start of your next turn.
        </p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Hide"
          description="Make a Dexterity (Stealth) check in an attempt to become hidden."
        />
        <p>
          The roll total becomes your stealth DC and nearby creatures compare
          their perception checks or passive perception.
        </p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Search"
          description="You devote your attention to finding something."
        />
        <p>
          Depending on the nature of your search, the check might be Wisdom or
          Intelligence as dictated by the Game Master.
        </p>
        <p>
          (Perception) if you are trying to find something through direct visual
          or audio cues.
        </p>
        <p>(Survival) if you are trying to follow tracks or footprints.</p>
        <p>
          (Investigation) if you are trying to make a deduction about anything
          out of place, whether an object or creature
        </p>
        <p>
          (Religion) if there is anything of religious significance in the
          confined area.
        </p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Use a Complex Object or Magic Item"
          description="Either a complex object within the environnment or a magic item you can use."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Ready an Action"
          description="Use your current action to perform an action out of turn."
        />
        <p>
          Choose a trigger based on a perceivable circumstance and choose a
          response. The response can be a single interaction, a single attack, a
          single spell, or movement to make.
        </p>
        <p>
          When the trigger occurs you can choose to use a reaction to perform
          the readied action or not.
        </p>
        <p>
          To ready a spell it must have a casting time of 1 action. Cast the
          spell on your turn and hold onto the spell’s magic and effects with
          concentration. If it is a leveled spell, you consume the spell slot
          during your ready action.
        </p>
        <p>
          If your concentration is broken, the spell dissipates without taking
          effect.
        </p>
      </section>
      <!-- <section class="rule-card">
        <RuleBlock name="Cast a Spell" />
        <p>Visit the <a href="/spellcasting/">Spellcasting</a> page.</p>
      </section> -->
      <div>
        <Card
          href="/spellcasting/"
          title="Cast a Spell"
          body="Visit the Spellcasting page."
        />
      </div>
    </ul>
  </main>
</Layout>
<style>
  a {
    color: inherit;
  }
  div {
    margin: auto;
    width: 100%;
    max-width: 31.8rem;
  }
</style>
