---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
	<main>
		<h1 class="index-h1">Common <span class="text">D&D 5e</span></h1>
		<p class="instructions">
			This a website to help run a physical or virtual tabletop session of D&D
			5e.
			<br /><br />Read the <a href="/about/">about</a> or <a href="/change-log/"
				>change log</a
			>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/what-is-dnd/"
				title="What is D&D?"
				body="A brief overview of the game."
			/>
			<Card
				href="/basic-rules/"
				title="Basic Rules"
				body="Learn the foundational rules to play D&D 5e."
			/>
			<Card
				href="/conditions/"
				title="Conditions"
				body="Learn about the conditions characters are affected by."
			/>
			<Card
				href="/vision-light/"
				title="Vision & Light"
				body="The rules for how characters see and how light is emitted."
			/>
			<Card
				href="/adventuring/"
				title="Adventuring"
				body="The actions characters can take as they roam the world or dive into a dungeon."
			/>
			<Card
				href="/combat-encounters/"
				title="Encounters"
				body="The rules for how to conduct a combat encounter."
			/>
			<Card
				href="/combat-actions/"
				title="Combat Actions"
				body="The actions that characters can use during combat."
			/>
			<Card
				href="/movement/"
				title="Movement"
				body="How characters move within the game. Whether by terrain, hazards, flying, swimming, falling, etc."
			/>
			<Card
				href="/space/"
				title="Space"
				body="How the characters interact with space in the game: size, range, reach, cover, water combat, mounts, etc."
			/>
			<Card
				href="/damage-healing/"
				title="Damage & Healing"
				body="Learn about damage to creatures and objects, resistance, vulnerability, Hit Points, and Hit Dice."
			/>
			<Card
				href="/dying-death/"
				title="Dying & Death"
				body="The rules for how to manage dying characters."
			/>
			<Card
				href="/spellcasting/"
				title="Spellcasting"
				body="Learn about the complex art of Spellcasting."
			/>
			<Card
				href="/weapon-attack-properties/"
				title="Weapon Properties"
				body="Includes Unarmed Strikes and Two Weapon Fighting."
			/>
			<Card
				href="/merchants-items/"
				title="Merchant Inventory"
				body="The types of merchants and the wares they sell."
			/>
		</ul>
	</main>

	<style>
		main {
			margin: auto;
			padding: 1rem;
			width: 800px;
			max-width: calc(100% - 2rem);
			/* color: white; */
		}
		h1 {
			font-size: 3rem;
			font-weight: 700;
			text-align: center;
			margin-bottom: 1rem;
		}
		.text {
			color: rgb(var(--accent-light));
		}
		.instructions {
			text-align: center;
			font-size: 1.1rem;
			margin-bottom: 1rem;
			border: 1px solid rgba(var(--accent-light), 25%);
			background: linear-gradient(
				rgba(var(--accent-dark), 66%),
				rgba(var(--accent-dark), 33%)
			);
			padding: 1.5rem;
			border-radius: 8px;
		}
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 1rem;
			padding: 0;
		}
		a {
			color: white;
		}
	</style>
</Layout>
