---
import Layout from "../layouts/Layout.astro";
import RuleBlock from "../components/RuleBlock.astro";
---

<Layout>
  <main>
    <h1 class="page-title">Vision and Light</h1>
    <ul role="list" class="rule-grid">
      <section class="rule-card">
        <RuleBlock
          name="Bright Light"
          description="An illuminated area where most creatures see normally."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Obscured Light"
          description="Creatures have Disadvantage on Perception checks that rely on sight and have a -5 penalty to their Passive Perception score."
        />
        <p>
          Examples include: dim light, patches of fog, sections of the
          Underdark, foliage, or dusk.
        </p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Darkness"
          description="Creates a heavily obscured area. Creatures in darkness automatically fail any ability checks that require sight and have disadvantage on their attack rolls."
        />
        <p>
          While a creature is in darkness, it cannot be located except by
          creatures who can percieve through darkness.
        </p>
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Seeing Underwater"
          description="In clear water and bright light, a creature can perceive at 60 feet, in obscured murky water at 10 feet, and 30 feet for any mixture of conditions in between."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Darkvision"
          description="The creature can see in darkness as if it were obscured light, within a specific radius. The creature can't discern color in darkness, only shades of gray."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Blindsight"
          description="The creature can perceive its surroundings without relying on sight, within a specific radius."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Truesight"
          description="The creature can perceive the following out to a specific range: anything in normal and magical darkness, invisible creatures and objects, automatically detect visual illusions and succeed on saving throws against them. Can Detect the original form of a shapechanger or a creature that is transformed by magic and the creature can perceive into the Ethereal Plane."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Tremorsense"
          description="While in contact with a non-liquid surface, creatures with tremorsense can locate the origins of vibrations along that surface, within a specific radius. Tremorsense can't be used to locate flying or incorporeal creatures."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Percieving a creature"
          description="Each character has three levels of perception for other creatures: located, detected, or hidden."
        />
        <RuleBlock
          name="Located"
          description="While a character has located a creature, that creature has no associated benefits or penalties. The character knows the creature’s location and can target them."
        />
        <p>
          A character can use an action to locate a detected or hidden creature.
          If they do, they must roll a perception check against the creature's
          stealth DC.
        </p>
        <RuleBlock
          name="Detected"
          description="When a character has detected a creature, they do not know the creature’s location but the character is aware the creature is nearby."
        />
        <p>
          Any time a character tries to target a detected creature they must
          make a DC 15 (Survival or Investigation) check to deduce the
          creature's location. If the character fails the check, they cannot
          target the creature.
        </p>
        <p>
          If a detected creature takes damage, while it is not in darkness or
          not invisible, the creature becomes located.
        </p>
        <p>
          If the detected creature is in darkness or invisible, they remain
          detected while the attacker cannot see through darkness or
          invisibility.
        </p>
        <RuleBlock
          name="Hidden"
          description="When a creature is hidden from the character, the character is completely unaware of their presence."
        />
        <p>
          Hidden creatures attack unaware targets with Advantage. After the
          attack resolves the creature becomes detected.
        </p>
        <p>
          If a hidden creature takes damage from an any source they will make
          noise, or produce a visual disturbance, and the creature becomes
          detected.
        </p>
        <!-- TODO casting a spell -->
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Torch"
          description="A torch burns for 1 hour, providing bright light in a 20-foot radius and obscured light for an additional 20 feet. If you make a melee attack with a burning torch and hit, it deals 1 fire damage."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Candle"
          description="For 1 hour, a candle sheds bright light in a 5-foot radius and obscured light for an additional 5 feet."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Lamp"
          description="A lamp casts bright light in a 15-foot radius and obscured light for an additional 30 feet. Once lit, it burns for 6 hours on a flask (1 pint) of oil."
        />
      </section>
      <section class="rule-card">
        <RuleBlock
          name="Bullseye Lantern"
          description="A bullseye lantern casts bright light in a 60-foot cone and obscured light for an additional 60 feet. Once lit, it burns for 6 hours on a flask (1 pint) of oil."
        />
      </section>
      <section class="rule-card">
        <RuleBlock name="Hooded Lantern" />
        <p>
          A hooded lantern casts bright light in a 30-foot radius and obscured
          light for an additional 30 feet.
        </p>
        <p>
          Once lit, it burns for 6 hours on a flask (1 pint) of oil. As an
          action, you can lower the hood, reducing the emitted light to obscured
          light in a 5-foot radius.
        </p>
      </section>
    </ul>
  </main>
</Layout>
