---
const { name, description } = Astro.props;
---
<div class="rule-block">
  <h3 class="rule-name">{name}</h3>
  <p class="rule-description">{description}</p>
</div>
<style>
  * {
    list-style: none;
  }
</style>