<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="A web document for running games of D&D 5e or a 5e derivative."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon20.png" />
    <title>Common 5e</title>
  </head>
  <body> </body>
</html>
